<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DbInitServlet</servlet-name>
        <servlet-class>com.bsapp.utils.DbInitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>UserManagementServlet</servlet-name>
        <servlet-class>com.bsapp.servlets.UserManagementServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SearchServlet</servlet-name>
        <servlet-class>com.bsapp.servlets.SearchServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DbInitServlet</servlet-name>
        <url-pattern>/DbInitServlet</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>com.bsapp.servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserManagementServlet</servlet-name>
        <url-pattern>/UserManagement</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SearchServlet</servlet-name>
        <url-pattern>/SearchServlet</url-pattern>
    </servlet-mapping>
    
    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
      <welcome-file-list>
<!--           <welcome-file>ShoppingAcme.jsp</welcome-file>-->
        <welcome-file>Login.jsp</welcome-file>
        
    </welcome-file-list>
</web-app>
